[LOGIN]
username = 
password = 
client_id = 
client_secret = 

[SETTINGS]
# Space separated subreddits to skip, case sensitive
skip_subreddits = 
min_comment_length = 512
max_comment_length = 1024
